/*font Variables*/
$primary-font: 'Roboto', sans-serif;
$title-font: 'Rajdhani', sans-serif;


/*Color Variables*/
$primary-color: #3fcaff;
$primary-color2: #a4ffb0;
$title-color: #222222;
$text-color: #777777;


/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Rajdhani:600,700|Roboto:400,500,500i');


